# Public health research with python

**FAO data, exploration et nettoyage des fichiers**

In [179]:
import pandas as pd

In [180]:
import numpy as np

*a. Exploration et nettoyage du fichier "[undernutrition.csv](http://localhost:8888/edit/undernutrition.csv)" :*

In [181]:
undernutrition = pd.read_csv('undernutrition.csv', sep=';')

In [182]:
undernutrition.head()

          Zone      Année Valeur (en million d'hab)
0  Afghanistan  2012-2014                       8.6
1  Afghanistan  2013-2015                       8.8
2  Afghanistan  2014-2016                       8.9
3  Afghanistan  2015-2017                       9.7
4  Afghanistan  2016-2018                      10.5

In [183]:
undernutrition.shape

(1218, 3)

In [184]:
undernutrition["Valeur (en million d'hab)"] = pd.to_numeric(undernutrition["Valeur (en million d'hab)"],errors = 'coerce')

In [185]:
undernutrition.dtypes

Zone                          object
Année                         object
Valeur (en million d'hab)    float64
dtype: object

In [186]:
undernutrition["Valeur (en million d'hab)"].unique()

array([8.600e+00, 8.800e+00, 8.900e+00, 9.700e+00, 1.050e+01, 1.110e+01,
       2.200e+00, 2.500e+00, 2.800e+00, 3.000e+00, 3.100e+00, 3.300e+00,
       1.000e-01, 1.300e+00, 1.200e+00,       nan, 7.600e+00, 6.200e+00,
       5.300e+00, 5.600e+00, 5.800e+00, 5.700e+00, 1.500e+00, 1.600e+00,
       1.100e+00, 1.700e+00, 2.170e+01, 2.240e+01, 2.330e+01, 2.230e+01,
       2.150e+01, 2.090e+01, 8.000e-01, 2.000e+00, 1.900e+00, 1.800e+00,
       4.000e-01, 5.000e-01, 3.000e-01, 2.000e-01, 3.200e+00, 3.400e+00,
       3.600e+00, 3.800e+00, 2.100e+00, 2.300e+00, 2.400e+00, 6.000e-01,
       7.000e-01, 9.000e-01, 3.900e+00, 2.700e+00, 1.400e+00, 4.800e+00,
       4.600e+00, 4.900e+00, 5.000e+00, 4.400e+00, 4.300e+00, 4.200e+00,
       4.500e+00, 2.620e+01, 2.430e+01, 2.130e+01, 2.110e+01, 2.900e+00,
       5.100e+00, 5.200e+00, 5.400e+00, 2.038e+02, 1.983e+02, 1.931e+02,
       1.909e+02, 1.901e+02, 1.892e+02, 2.360e+01, 2.400e+01, 2.410e+01,
       3.700e+00, 7.300e+00, 7.800e+00, 8.400e+00, 9.000e+00, 9.100e+00,
       1.010e+01, 1.000e+01, 1.070e+01, 1.150e+01, 1.190e+01, 1.180e+01,
       8.700e+00, 1.030e+01, 1.100e+01, 1.000e+00, 5.500e+00, 6.800e+00,
       7.900e+00, 5.900e+00, 7.000e+00, 9.200e+00, 9.400e+00, 9.600e+00,
       6.700e+00, 7.100e+00, 7.200e+00, 1.470e+01, 1.740e+01, 2.020e+01,
       2.220e+01, 2.280e+01, 2.460e+01, 3.110e+01, 2.850e+01, 2.540e+01,
       2.480e+01, 2.610e+01, 1.450e+01, 1.540e+01, 1.650e+01, 1.580e+01,
       1.570e+01, 1.080e+01, 1.120e+01, 1.160e+01, 1.200e+01, 1.220e+01,
       1.350e+01, 1.320e+01, 1.280e+01, 1.300e+01, 1.340e+01, 1.410e+01,
       4.100e+00, 6.100e+00, 6.000e+00, 6.500e+00, 2.600e+00, 8.000e+00,
       8.300e+00])

In [187]:
len(undernutrition["Valeur (en million d'hab)"].unique())

139

In [188]:
undernutrition["Valeur (en million d'hab)"]

0        8.6
1        8.8
2        8.9
3        9.7
4       10.5
        ...
1213     NaN
1214     NaN
1215     NaN
1216     NaN
1217     NaN
Name: Valeur (en million d'hab), Length: 1218, dtype: float64

In [189]:
undernutrition.fillna(0, inplace=True)

In [190]:
undernutrition["Valeur (en million d'hab)"]

0        8.6
1        8.8
2        8.9
3        9.7
4       10.5
        ...
1213     0.0
1214     0.0
1215     0.0
1216     0.0
1217     0.0
Name: Valeur (en million d'hab), Length: 1218, dtype: float64

In [191]:
undernutrition = undernutrition.replace("2012-2014","2013")

In [192]:
undernutrition = undernutrition.replace("2013-2015","2014")

In [193]:
undernutrition = undernutrition.replace("2014-2016","2015")

In [194]:
undernutrition = undernutrition.replace("2015-2017","2016")

In [195]:
undernutrition = undernutrition.replace("2016-2018","2017")

In [197]:
undernutrition = undernutrition.replace("2017-2019","2018")

In [198]:
print(undernutrition)

             Zone Année  Valeur (en million d'hab)
0     Afghanistan  2013                        8.6
1     Afghanistan  2014                        8.8
2     Afghanistan  2015                        8.9
3     Afghanistan  2016                        9.7
4     Afghanistan  2017                       10.5
...           ...   ...                        ...
1213     Zimbabwe  2014                        0.0
1214     Zimbabwe  2015                        0.0
1215     Zimbabwe  2016                        0.0
1216     Zimbabwe  2017                        0.0
1217     Zimbabwe  2018                        0.0

[1218 rows x 3 columns]

*a. Exploration et nettoyage du fichier "[population.csv](http://localhost:8888/edit/population.csv)" :*

In [210]:
population = pd.read_csv('population.csv', sep=';')

In [211]:
population.head()

          Zone  Année  Valeur (en milliers d'hab)
0  Afghanistan   2013                   32269.589
1  Afghanistan   2014                   33370.794
2  Afghanistan   2015                   34413.603
3  Afghanistan   2016                   35383.032
4  Afghanistan   2017                   36296.113

1. *Proportion de personnes en état de sous-nutrition en 2017 :*