# Public health research with python

**FAO data, files exploration and data cleaning**

In [162]:
import pandas as pd

In [163]:
import numpy as np

*a. [undernutrition.csv](http://localhost:8888/edit/undernutrition.csv) : exploration and data cleaning*

- Loading file:

In [164]:
undernutrition = pd.read_csv('undernutrition.csv', sep=';')

- First 5 rows display :

In [165]:
undernutrition.head()

          Zone      Année Valeur (en million d'hab)
0  Afghanistan  2012-2014                       8.6
1  Afghanistan  2013-2015                       8.8
2  Afghanistan  2014-2016                       8.9
3  Afghanistan  2015-2017                       9.7
4  Afghanistan  2016-2018                      10.5

- Number of rows and columns :

In [166]:
undernutrition.shape

(1218, 3)

- .dtypes display :

In [167]:
undernutrition.dtypes

Zone                         object
Année                        object
Valeur (en million d'hab)    object
dtype: object

- "Valeur" column .unique values display :

In [168]:
undernutrition["Valeur (en million d'hab)"].unique()

array(['8.6', '8.8', '8.9', '9.7', '10.5', '11.1', '2.2', '2.5', '2.8',
       '3', '3.1', '3.3', '0.1', '1.3', '1.2', nan, '7.6', '6.2', '5.3',
       '5.6', '5.8', '5.7', '1.5', '1.6', '1.1', '1.7', '<0.1', '21.7',
       '22.4', '23.3', '22.3', '21.5', '20.9', '0.8', '2', '1.9', '1.8',
       '0.4', '0.5', '0.3', '0.2', '3.2', '3.4', '3.6', '3.8', '2.1',
       '2.3', '2.4', '0.6', '0.7', '0.9', '3.9', '2.7', '1.4', '4.8',
       '4.6', '4.9', '5', '4.4', '4.3', '4.2', '4.5', '26.2', '24.3',
       '21.3', '21.1', '2.9', '5.1', '5.2', '5.4', '203.8', '198.3',
       '193.1', '190.9', '190.1', '189.2', '23.6', '24', '24.1', '3.7',
       '7.3', '7.8', '8.4', '9', '9.1', '10.1', '10', '10.7', '11.5',
       '11.9', '11.8', '8.7', '10.3', '11', '1', '5.5', '6.8', '7.9',
       '5.9', '7', '9.2', '9.4', '9.6', '6.7', '7.1', '7.2', '14.7',
       '17.4', '20.2', '22.2', '22.8', '24.6', '31.1', '28.5', '25.4',
       '24.8', '26.1', '14.5', '15.4', '16.5', '15.8', '15.7', '10.8',
       '11.2', '11.6', '12', '12.2', '13.5', '13.2', '12.8', '13', '13.4',
       '14.1', '4.1', '6.1', '6', '6.5', '2.6', '8', '8.3'], dtype=object)

- Update "Valeur" column to numeric :

In [169]:
undernutrition["Valeur (en million d'hab)"] = pd.to_numeric(undernutrition["Valeur (en million d'hab)"],errors = 'coerce')

- .dtypes display :

In [170]:
undernutrition.dtypes

Zone                          object
Année                         object
Valeur (en million d'hab)    float64
dtype: object

- "Valeur" column display :

In [171]:
undernutrition["Valeur (en million d'hab)"]

0        8.6
1        8.8
2        8.9
3        9.7
4       10.5
        ...
1213     NaN
1214     NaN
1215     NaN
1216     NaN
1217     NaN
Name: Valeur (en million d'hab), Length: 1218, dtype: float64

- Replace NaN values by 0.00 :

In [172]:
undernutrition["Valeur (en million d'hab)"].fillna(0, inplace=True)

In [173]:
undernutrition["Valeur (en million d'hab)"]

0        8.6
1        8.8
2        8.9
3        9.7
4       10.5
        ...
1213     0.0
1214     0.0
1215     0.0
1216     0.0
1217     0.0
Name: Valeur (en million d'hab), Length: 1218, dtype: float64

- Update "Année" column values :

In [174]:
undernutrition = undernutrition.replace(["2012-2014","2013-2015","2014-2016","2015-2017","2016-2018","2017-2019"],
                                        ["2013","2014","2015","2016","2017","2018"])

In [175]:
print(undernutrition)

             Zone Année  Valeur (en million d'hab)
0     Afghanistan  2013                        8.6
1     Afghanistan  2014                        8.8
2     Afghanistan  2015                        8.9
3     Afghanistan  2016                        9.7
4     Afghanistan  2017                       10.5
...           ...   ...                        ...
1213     Zimbabwe  2014                        0.0
1214     Zimbabwe  2015                        0.0
1215     Zimbabwe  2016                        0.0
1216     Zimbabwe  2017                        0.0
1217     Zimbabwe  2018                        0.0

[1218 rows x 3 columns]

- Convert "Valeur" column values in thousands of inhabitants :

In [176]:
undernutrition["Valeur (en milliers d'hab)"] = undernutrition["Valeur (en million d'hab)"] * 1000

In [177]:
undernutrition.head()

          Zone Année  Valeur (en million d'hab)  Valeur (en milliers d'hab)
0  Afghanistan  2013                        8.6                      8600.0
1  Afghanistan  2014                        8.8                      8800.0
2  Afghanistan  2015                        8.9                      8900.0
3  Afghanistan  2016                        9.7                      9700.0
4  Afghanistan  2017                       10.5                     10500.0

- Convert "Valeur (en milliers d'hab)" column to integer :

In [178]:
undernutrition = undernutrition.astype({"Valeur (en milliers d'hab)": int})

In [179]:
undernutrition.head()

          Zone Année  Valeur (en million d'hab)  Valeur (en milliers d'hab)
0  Afghanistan  2013                        8.6                        8600
1  Afghanistan  2014                        8.8                        8800
2  Afghanistan  2015                        8.9                        8900
3  Afghanistan  2016                        9.7                        9700
4  Afghanistan  2017                       10.5                       10500

- New df on 2017:

In [180]:
undernutrition2017 = undernutrition.loc[undernutrition["Année"].isin(["2017"])].copy()

In [181]:
undernutrition2017.head()

,Zone,Année,Valeur (en million d'hab),Valeur (en milliers d'hab)
4,Afghanistan,2017,10.5,10500
10,Afrique du Sud,2017,3.1,3100
16,Albanie,2017,0.1,100
22,Algérie,2017,1.3,1300
28,Allemagne,2017,0.0,0

*b. [population.csv](http://localhost:8888/edit/population.csv) : exploration and data cleaning*

- Loading file:

In [182]:
population = pd.read_csv('population.csv', sep=';')

- First 5 rows display :

In [183]:
population.head()

          Zone  Année  Valeur (en milliers d'hab)
0  Afghanistan   2013                   32269.589
1  Afghanistan   2014                   33370.794
2  Afghanistan   2015                   34413.603
3  Afghanistan   2016                   35383.032
4  Afghanistan   2017                   36296.113

- Number of rows and columns :

In [184]:
population.shape

(1416, 3)

- .dtypes display :

In [185]:
population.dtypes

Zone                           object
Année                           int64
Valeur (en milliers d'hab)    float64
dtype: object

- Convert "Valeur" column values to million of inhabitants :

In [186]:
population["Valeur (en million d'hab)"] = population["Valeur (en milliers d'hab)"] / 1000

In [187]:
population.head()

          Zone  Année  Valeur (en milliers d'hab)  Valeur (en million d'hab)
0  Afghanistan   2013                   32269.589                  32.269589
1  Afghanistan   2014                   33370.794                  33.370794
2  Afghanistan   2015                   34413.603                  34.413603
3  Afghanistan   2016                   35383.032                  35.383032
4  Afghanistan   2017                   36296.113                  36.296113

- population 2017 new df :

In [188]:
pop2017 = population.loc[population["Année"].isin([2017])].copy()

In [191]:
pop2017.head()

,Zone,Année,Valeur (en milliers d'hab),Valeur (en million d'hab)
4,Afghanistan,2017,36296.113,36.296113
10,Afrique du Sud,2017,57009.756,57.009756
16,Albanie,2017,2884.169,2.884169
22,Algérie,2017,41389.189,41.389189
28,Allemagne,2017,82658.409,82.658409

In [194]:
pop2017.rename(columns = {"Valeur (en milliers d'hab)": "Population (en milliers d'hab)",
                          "Valeur (en million d'hab)": "Population (en million d'hab)",
                         "Année": "2017"}, inplace=True)

In [195]:
pop2017.head()

,Zone,2017,Population (en milliers d'hab),Population (en million d'hab)
4,Afghanistan,2017,36296.113,36.296113
10,Afrique du Sud,2017,57009.756,57.009756
16,Albanie,2017,2884.169,2.884169
22,Algérie,2017,41389.189,41.389189
28,Allemagne,2017,82658.409,82.658409

In [196]:
pop2017.shape

(236, 4)

*c. [food_help.csv](http://localhost:8888/edit/food_help.csv) : exploration and data cleaning*

- Loading file:

In [218]:
foodHelp = pd.read_csv('food_help.csv', sep=';')

- First 5 rows display :

In [219]:
foodHelp.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

- Number of rows and columns :

In [220]:
foodHelp.shape

(1475, 4)

- .dtypes display :

In [221]:
foodHelp.dtypes

Pays bénéficiaire    object
Année                 int64
Produit              object
Valeur                int64
dtype: object

- Rename "Valeur" column by "Valeur (en tonnes)" :

In [222]:
foodHelp.rename(columns = {'Valeur': 'Valeur (en tonnes)'}, inplace=True)

In [223]:
print(foodHelp)

     Pays bénéficiaire  Année                   Produit  Valeur (en tonnes)
0          Afghanistan   2013       Autres non-céréales                 682
1          Afghanistan   2014       Autres non-céréales                 335
2          Afghanistan   2013              Blé et Farin               39224
3          Afghanistan   2014              Blé et Farin               15160
4          Afghanistan   2013                  Céréales               40504
...                ...    ...                       ...                 ...
1470          Zimbabwe   2015  Mélanges et préparations                  96
1471          Zimbabwe   2013              Non-céréales                5022
1472          Zimbabwe   2014              Non-céréales                2310
1473          Zimbabwe   2015              Non-céréales                 306
1474          Zimbabwe   2013                Riz, total                  64

[1475 rows x 4 columns]

*d. [food_availability.csv](http://localhost:8888/edit/food_availability.csv) : exploration and data cleaning*

- Loading file:

In [224]:
foodAvailability = pd.read_csv('food_availability.csv', sep=';')

- First 5 rows display :

In [225]:
foodAvailability.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

- Number of rows and columns :

In [226]:
foodAvailability.shape

(15605, 18)

- Replace NaN values by 0.00 :

In [227]:
foodAvailability.fillna(0, inplace=True)

- foodAvailability dataframe display :

In [228]:
print(foodAvailability)

               Zone                Produit   Origine  Aliments pour animaux  \
0       Afghanistan       Abats Comestible   animale                    0.0
1       Afghanistan        Agrumes, Autres  vegetale                    0.0
2       Afghanistan  Aliments pour enfants  vegetale                    0.0
3       Afghanistan                 Ananas  vegetale                    0.0
4       Afghanistan                Bananes  vegetale                    0.0
...             ...                    ...       ...                    ...
15600  Îles Salomon       Viande de Suides   animale                    0.0
15601  Îles Salomon    Viande de Volailles   animale                    0.0
15602  Îles Salomon          Viande, Autre   animale                    0.0
15603  Îles Salomon                    Vin  vegetale                    0.0
15604  Îles Salomon         Épices, Autres  vegetale                    0.0

       Autres Utilisations  Disponibilité alimentaire (Kcal/personne/jour)  \
0                      0.0                                             5.0
1                      0.0                                             1.0
2                      0.0                                             1.0
3                      0.0                                             0.0
4                      0.0                                             4.0
...                    ...                                             ...
15600                  0.0                                            45.0
15601                  0.0                                            11.0
15602                  0.0                                             0.0
15603                  0.0                                             0.0
15604                  0.0                                             4.0

       Disponibilité alimentaire en quantité (kg/personne/an)  \
0                                                   1.72
1                                                   1.29
2                                                   0.06
3                                                   0.00
4                                                   2.70
...                                                  ...
15600                                               4.70
15601                                               3.34
15602                                               0.06
15603                                               0.07
15604                                               0.48

       Disponibilité de matière grasse en quantité (g/personne/jour)  \
0                                                   0.20
1                                                   0.01
2                                                   0.01
3                                                   0.00
4                                                   0.02
...                                                  ...
15600                                               4.28
15601                                               0.69
15602                                               0.00
15603                                               0.00
15604                                               0.21

       Disponibilité de protéines en quantité (g/personne/jour)  \
0                                                   0.77
1                                                   0.02
2                                                   0.03
3                                                   0.00
4                                                   0.05
...                                                  ...
15600                                               1.41
15601                                               1.14
15602                                               0.04
15603                                               0.00
15604                                               0.15

       Disponibilité intérieure  Exportations - Quantité  \
0                          53.0                      0.0
1                          41.0                      2.0
2                           2.0                      0.0
3                           0.0                      0.0
4                          82.0                      0.0
...                         ...                      ...
15600                       3.0                      0.0
15601                       2.0                      0.0
15602                       0.0                      0.0
15603                       0.0                      0.0
15604                       0.0                      0.0

       Importations - Quantité  Nourriture  Pertes  Production  Semences  \
0                          0.0        53.0     0.0        53.0       0.0
1                         40.0        39.0     2.0         3.0       0.0
2                          2.0         2.0     0.0         0.0       0.0
3                          0.0         0.0     0.0         0.0       0.0
4                         82.0        82.0     0.0         0.0       0.0
...                        ...         ...     ...         ...       ...
15600                      0.0         3.0     0.0         2.0       0.0
15601                      2.0         2.0     0.0         0.0       0.0
15602                      0.0         0.0     0.0         0.0       0.0
15603                      0.0         0.0     0.0         0.0       0.0
15604                      0.0         0.0     0.0         0.0       0.0

       Traitement  Variation de stock
0             0.0                 0.0
1             0.0                 0.0
2             0.0                 0.0
3             0.0                 0.0
4             0.0                 0.0
...           ...                 ...
15600         0.0                 0.0
15601         0.0                 0.0
15602         0.0                 0.0
15603         0.0                 0.0
15604         0.0                 0.0

[15605 rows x 18 columns]

- .dtypes display :

In [229]:
foodAvailability.dtypes

Zone                                                              object
Produit                                                           object
Origine                                                           object
Aliments pour animaux                                            float64
Autres Utilisations                                              float64
Disponibilité alimentaire (Kcal/personne/jour)                   float64
Disponibilité alimentaire en quantité (kg/personne/an)           float64
Disponibilité de matière grasse en quantité (g/personne/jour)    float64
Disponibilité de protéines en quantité (g/personne/jour)         float64
Disponibilité intérieure                                         float64
Exportations - Quantité                                          float64
Importations - Quantité                                          float64
Nourriture                                                       float64
Pertes                                                           float64
Production                                                       float64
Semences                                                         float64
Traitement                                                       float64
Variation de stock                                               float64
dtype: object

- Convert use of food availability columns in "kilogram" :

In [230]:
Convert1 = ["Aliments pour animaux",
            "Autres Utilisations",
            "Disponibilité intérieure",
            "Exportations - Quantité",
            "Importations - Quantité",
            "Nourriture",
            "Pertes",
            "Production",
            "Semences",
            "Traitement",
            "Variation de stock"]

for columns in Convert1 :
    foodAvailability[columns]*= 1000000

In [231]:
print(foodAvailability)

               Zone                Produit   Origine  Aliments pour animaux  \
0       Afghanistan       Abats Comestible   animale                    0.0
1       Afghanistan        Agrumes, Autres  vegetale                    0.0
2       Afghanistan  Aliments pour enfants  vegetale                    0.0
3       Afghanistan                 Ananas  vegetale                    0.0
4       Afghanistan                Bananes  vegetale                    0.0
...             ...                    ...       ...                    ...
15600  Îles Salomon       Viande de Suides   animale                    0.0
15601  Îles Salomon    Viande de Volailles   animale                    0.0
15602  Îles Salomon          Viande, Autre   animale                    0.0
15603  Îles Salomon                    Vin  vegetale                    0.0
15604  Îles Salomon         Épices, Autres  vegetale                    0.0

       Autres Utilisations  Disponibilité alimentaire (Kcal/personne/jour)  \
0                      0.0                                             5.0
1                      0.0                                             1.0
2                      0.0                                             1.0
3                      0.0                                             0.0
4                      0.0                                             4.0
...                    ...                                             ...
15600                  0.0                                            45.0
15601                  0.0                                            11.0
15602                  0.0                                             0.0
15603                  0.0                                             0.0
15604                  0.0                                             4.0

       Disponibilité alimentaire en quantité (kg/personne/an)  \
0                                                   1.72
1                                                   1.29
2                                                   0.06
3                                                   0.00
4                                                   2.70
...                                                  ...
15600                                               4.70
15601                                               3.34
15602                                               0.06
15603                                               0.07
15604                                               0.48

       Disponibilité de matière grasse en quantité (g/personne/jour)  \
0                                                   0.20
1                                                   0.01
2                                                   0.01
3                                                   0.00
4                                                   0.02
...                                                  ...
15600                                               4.28
15601                                               0.69
15602                                               0.00
15603                                               0.00
15604                                               0.21

       Disponibilité de protéines en quantité (g/personne/jour)  \
0                                                   0.77
1                                                   0.02
2                                                   0.03
3                                                   0.00
4                                                   0.05
...                                                  ...
15600                                               1.41
15601                                               1.14
15602                                               0.04
15603                                               0.00
15604                                               0.15

       Disponibilité intérieure  Exportations - Quantité  \
0                    53000000.0                      0.0
1                    41000000.0                2000000.0
2                     2000000.0                      0.0
3                           0.0                      0.0
4                    82000000.0                      0.0
...                         ...                      ...
15600                 3000000.0                      0.0
15601                 2000000.0                      0.0
15602                       0.0                      0.0
15603                       0.0                      0.0
15604                       0.0                      0.0

       Importations - Quantité  Nourriture     Pertes  Production  Semences  \
0                          0.0  53000000.0        0.0  53000000.0       0.0
1                   40000000.0  39000000.0  2000000.0   3000000.0       0.0
2                    2000000.0   2000000.0        0.0         0.0       0.0
3                          0.0         0.0        0.0         0.0       0.0
4                   82000000.0  82000000.0        0.0         0.0       0.0
...                        ...         ...        ...         ...       ...
15600                      0.0   3000000.0        0.0   2000000.0       0.0
15601                2000000.0   2000000.0        0.0         0.0       0.0
15602                      0.0         0.0        0.0         0.0       0.0
15603                      0.0         0.0        0.0         0.0       0.0
15604                      0.0         0.0        0.0         0.0       0.0

       Traitement  Variation de stock
0             0.0                 0.0
1             0.0                 0.0
2             0.0                 0.0
3             0.0                 0.0
4             0.0                 0.0
...           ...                 ...
15600         0.0                 0.0
15601         0.0                 0.0
15602         0.0                 0.0
15603         0.0                 0.0
15604         0.0                 0.0

[15605 rows x 18 columns]

- Rename use of food availability columns by adding "(en kg)" :

In [232]:
foodAvailability.rename(columns = {'Nourriture': 'Nourriture (en kg)','Pertes': 'Pertes (en kg)','Aliments pour animaux': 'Aliments pour animaux (en kg)','Autres Utilisations': 'Autres Utilisations (en kg)','Disponibilité intérieure': 'Disponibilité intérieure (en kg)','Exportations - Quantité': 'Exportations - Quantité (en kg)','Importations - Quantité': 'Importations - Quantité (en kg)','Nourriture (en kg)': 'Nourriture (en kg)','Pertes': 'Pertes (en kg)','Production': 'Production (en kg)','Semences': 'Semences (en kg)','Traitement': 'Traitement (en kg)','Variation de stock': 'Variation de stock (en kg)'})

,Zone,Produit,Origine,Aliments pour animaux (en kg),Autres Utilisations (en kg),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (en kg),Exportations - Quantité (en kg),Importations - Quantité (en kg),Nourriture (en kg),Pertes (en kg),Production (en kg),Semences (en kg),Traitement (en kg),Variation de stock (en kg)
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,0.0,0.0,45.0,4.70,4.28,1.41,3000000.0,0.0,0.0,3000000.0,0.0,2000000.0,0.0,0.0,0.0
15601,Îles Salomon,Viande de Volailles,animale,0.0,0.0,11.0,3.34,0.69,1.14,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
15602,Îles Salomon,"Viande, Autre",animale,0.0,0.0,0.0,0.06,0.00,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15603,Îles Salomon,Vin,vegetale,0.0,0.0,0.0,0.07,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15604,Îles Salomon,"Épices, Autres",vegetale,0.0,0.0,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**The State of Food Security and Nutrition in the World 2017**

*1. Proportion of people undernourished in 2017 :*

- DataFrames display :

In [233]:
undernutrition2017

,Zone,Année,Valeur (en million d'hab),Valeur (en milliers d'hab)
4,Afghanistan,2017,10.5,10500
10,Afrique du Sud,2017,3.1,3100
16,Albanie,2017,0.1,100
22,Algérie,2017,1.3,1300
28,Allemagne,2017,0.0,0
...,...,...,...,...
1192,Venezuela (République bolivarienne du),2017,8.0,8000
1198,Viet Nam,2017,6.5,6500
1204,Yémen,2017,0.0,0
1210,Zambie,2017,0.0,0
1216,Zimbabwe,2017,0.0,0

- Merge DataFrames :

In [234]:
proportionUndernutrition = pop2017.merge(undernutrition2017, on="Zone", how="left")

In [235]:
proportionUndernutrition

,Zone,2017,Population (en milliers d'hab),Population (en million d'hab),Année,Valeur (en million d'hab),Valeur (en milliers d'hab)
0,Afghanistan,2017,36296.113,36.296113,2017,10.5,10500.0
1,Afrique du Sud,2017,57009.756,57.009756,2017,3.1,3100.0
2,Albanie,2017,2884.169,2.884169,2017,0.1,100.0
3,Algérie,2017,41389.189,41.389189,2017,1.3,1300.0
4,Allemagne,2017,82658.409,82.658409,2017,0.0,0.0
...,...,...,...,...,...,...,...
231,Venezuela (République bolivarienne du),2017,29402.484,29.402484,2017,8.0,8000.0
232,Viet Nam,2017,94600.648,94.600648,2017,6.5,6500.0
233,Yémen,2017,27834.819,27.834819,2017,0.0,0.0
234,Zambie,2017,16853.599,16.853599,2017,0.0,0.0
235,Zimbabwe,2017,14236.595,14.236595,2017,0.0,0.0

- Replace N/A with 0 and check :

In [236]:
proportionUndernutrition.fillna(0, inplace=True)

- Create a new df only with columns 0, 2 and 6 :

In [238]:
proportionUndernutrition_final = proportionUndernutrition.iloc[0:237, [0,2,6]]

In [240]:
proportionUndernutrition_final

,Zone,Population (en milliers d'hab),Valeur (en milliers d'hab)
0,Afghanistan,36296.113,10500.0
1,Afrique du Sud,57009.756,3100.0
2,Albanie,2884.169,100.0
3,Algérie,41389.189,1300.0
4,Allemagne,82658.409,0.0
...,...,...,...
231,Venezuela (République bolivarienne du),29402.484,8000.0
232,Viet Nam,94600.648,6500.0
233,Yémen,27834.819,0.0
234,Zambie,16853.599,0.0
235,Zimbabwe,14236.595,0.0

- Sum the column "Valeur (en milliers d'hab)" :

In [241]:
undernutrition_sum = proportionUndernutrition_final["Valeur (en milliers d'hab)"].sum()

- Sum the column "Population (en milliers d'hab)" :

In [242]:
population_sum = proportionUndernutrition_final["Population (en milliers d'hab)"].sum()

- Final result :

In [243]:
print(round(undernutrition_sum / population_sum * 100, 2),"%")

7.1 %

*2. Theoretical number of people who could be fed in the world in 2017 :*

In [245]:
foodAvailability.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000000.0,0.0,0.0,53000000.0,0.0,53000000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000000.0,0.0,2000000.0,2000000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000000.0,0.0,82000000.0,82000000.0,0.0,0.0,0.0,0.0,0.0

In [259]:
foodAvailibilityKcal = foodAvailability[{'Zone','Disponibilité alimentaire (Kcal/personne/jour)'}]

In [260]:
foodAvailibilityKcal.head()

   Disponibilité alimentaire (Kcal/personne/jour)         Zone
0                                             5.0  Afghanistan
1                                             1.0  Afghanistan
2                                             1.0  Afghanistan
3                                             0.0  Afghanistan
4                                             4.0  Afghanistan

In [261]:
foodAvailibilityKcalGroupByZone = foodAvailibilityKcal.groupby(by="Zone").sum()

In [263]:
foodAvailibilityKcalGroupByZone = foodAvailibilityKcalGroupByZone.astype({"Disponibilité alimentaire (Kcal/personne/jour)": int})

In [264]:
foodAvailibilityKcalGroupByZone.head()

                Disponibilité alimentaire (Kcal/personne/jour)
Zone
Afghanistan                                               2087
Afrique du Sud                                            3020
Albanie                                                   3188
Algérie                                                   3293
Allemagne                                                 3503

In [265]:
foodAvailibilityKcalGroupByZone.sum()

Disponibilité alimentaire (Kcal/personne/jour)    495442
dtype: int64

In [266]:
foodAvailibilityKcalGroupByZone.shape

(175, 1)

In [267]:
apportKcalJournalierPays = foodAvailibilityKcalGroupByZone["Disponibilité alimentaire (Kcal/personne/jour)"]

def proportion() :
    for elt in apportKcalJournalierPays:
        if elt <= 2500:
            print(1)
        else:
            print(0)

In [268]:
foodAvailibilityKcalGroupByZone.head()

                Disponibilité alimentaire (Kcal/personne/jour)
Zone
Afghanistan                                               2087
Afrique du Sud                                            3020
Albanie                                                   3188
Algérie                                                   3293
Allemagne                                                 3503

In [ ]:
proportion().sum()